/*
 * Created By: Osama A. Zakaria
 * Creation Date: 01 May, 2023
 * Contact: osamaahmed.abdelhamid@miu.edu
 */


/*********************************** Global Settings ***********************************/


/*
@font-face {
	font-family: HacenSaudiArabia;
	src: url(fonts/Hacen_Saudi_Arabia.ttf);
}

@font-face {
	font-family: digital7;
	src: url(fonts/digital_7.ttf);
}
*/

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: 1.0em;
    line-height: 1.2em;
    text-shadow: 0 0 3px #777;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.294);
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-backface-visibility: hidden;
    /*touch-action: manipulation;*/
    /*-webkit-transform: translate3D(0, 0, 0);*/
}

html {
    display: block;
    /* width: 2048px;
	height: 1536px; */
    font-size: 28px;
    overflow: hidden;
}

body {
    background: #eee;
    display: block;
    width: 100%;
    height: 100%;
    /*word-wrap: break-word;*/
    color: #481027;
    text-align: center;
    /* text-transform: capitalize; */
    /*text-shadow: 0 2px 3px #eee;*/
    font-family: "Times New Roman", Georgia, Serif;
    font-family: 'open sans', 'lato', 'helvetica', sans-serif;
    /*font-family: "Trebuchet MS";*/
    /*font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    font-size: 100%;
    /*font-weight: 600;*/
    font-weight: 600;
    letter-spacing: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */

    transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    -o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
    /* color: #fff; */
    /* overflow: hidden;  */
}

a {
    color: #0084c6;
    font-weight: normal;
    /* text-decoration: none; */
}

a:hover {
    color: rgb(0, 97, 171);
}

abbr {
    color: red;
}


/*********************************** Common Classes ***********************************/


.button.style1 {
    background: #000;
    font-size: 16px;
    padding: 8px 0;
    margin: 15px 0;
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.button.style1:hover {
    background: #fff;
    color: #000;
}
    
.button.style1:active {
    background: #ccc;
    color: #000;
    border: solid 1px #aaa;
}

.button.style2 {
    background: #fff url(images/azure_ad.png) center center/100px 80% no-repeat;
    padding: 20px 0;
    margin: 15px 0;
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.button.style2:hover {
    background-color: #d3f0ff;
}

.button.style2:active {
    background-color: #eee;
}

.button.style3 {
    background: #fff;
    font-size: 15px;
    padding: 5px 16px;
    margin-left: 15px;
    border: solid 1px #bbb;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
}

.button.style3:hover {
    background: #ddd;
    color: #333;
    border-color: #ddd;
}

.button.style3:active {
    background: #d3f0ff;
    color: #000;
    border: solid 1px #d3f0ff;
}

.button.style3.color1 {
    border-color: #033c73;
    color: #033c73;
}

.button.style3.color2 {
    border-color: #dd5600;
    color: #dd5600;
}

.button.style3.color3 {
    border-color: #2fa4e7;
    color: #2fa4e7;
}

.button.style4 {
    background: -webkit-linear-gradient(90deg, rgb(240, 240, 240) 0%, rgb(250, 250, 250) 100%);
    font-size: 15px;
    padding: 5px 16px;
    border: solid 1px #bbb;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
}

.button.style4:hover {
    background: #fff;
    color: #333;
    border-color: #888;
}
    
.button.style4:active {
    background: #d3f0ff;
    color: #0a2d41;
    border: solid 1px #d3f0ff;
}

.texted-seperator {
    position: relative;
    text-align: center;
    /* border: solid 1px red; */
}

.texted-seperator-text {
    color: #aaa;
    font-size: 15px;
    font-weight: 100;
    text-shadow: none;
    display: inline-block;
    padding: 0 10px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.texted-seperator::before,
.texted-seperator::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    height: 0;
    width: 35%;
    border-bottom: solid 1px #aaa;
}

.texted-seperator::before {
    left: 0;
}

.texted-seperator::after {
    right: 0;
}


/*********************************** Page Classes ***********************************/


.page-wrapper {
    position: relative;
    margin: auto;
    width: 900px;
    /* border: solid 1px red; */
    /* border: solid 1px yellow; */
}

/****** Page Header Classes ******/

.page-header {
    width: 900px;
    position: fixed;
    /* top: 20px; */
    text-align: right;
    z-index: 1;
    /* border: solid 1px red; */
}

.page-header-cover {
    background: url(images/cover.jpg) center center/100% 100% no-repeat;
    width: 100%;
    height: 140px;
}

.page-header-cover .personal-photo {
    position: absolute;
    top: 56%;
    left: 35px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}

.page-header-cover .personal-photo img {
    width: 100%;
    height: 100%;
}

.page-header-title {
    font-size: 18px;
    font-weight: normal;
    /* width: 100%; */
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    color: #444;
    background: -webkit-linear-gradient(90deg, rgb(200, 200, 200) 0%, rgb(217, 217, 217) 100%);
    padding: 10px 20px 10px 185px;
    border-radius: 0 0 15px 15px;
    /* border: solid 1px red; */
}

.page-header-title-left {
    text-align: left;
    display: inline-block;
    width: 49%;
}

.page-header-title-right {
    text-align: right;
    display: inline-block;
    width: 49%;
}

/****** Page Body Classes ******/

.page-body {
    /* border: solid 1px red; */
    /* margin: 210px 0; */
    width: 900px;
    padding: 40px;
    position: fixed;
    top: 190px;
    bottom: 100px;
    overflow: scroll;
    /* overflow-x: hidden; */
}

.page-body-content {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    padding: 10px 0;
    /* border: solid 1px green; */
}

.page-body-content.style1 {
    text-align: left;
}

.page-body-content.style2 {
    text-align: center;
}

.page-body-content.style3 {
    text-align: right;
}

.page-body-content.style4 {
    text-align: justify;
}

.page-body-content-left {
    display: inline-block;
    width: 49%;
    /* border: solid 1px red; */
}

.page-body-content-right {
    display: inline-block;
    width: 49%;
    /* border: solid 1px red; */
}

.page-sub-title {
    font-size: 25px;
    font-weight: 100;
    margin: 15px 0;
    text-align: left;
}

/*** Main Navigation Classes ***/

nav.style1 {
    text-align: left;
    /* padding-left: 155px; */
    margin-left: 155px;
    font-size: 16px;
    border-bottom: dotted 1px #555;
    /* border: solid 1px yellow; */
}

nav.style1 ul {
    margin: auto;
}

nav.style1 ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav.style1 ul li a {
    font-weight: normal;
    text-decoration: none;
    color: #333;
}

nav.style1 ul li.selected a {
    color: #0084c6;
}

/*** Current Navigation Classes ***/

.currentnav {
    text-align: left;
    padding-left: 155px;
    margin: 15px 0;
    font-size: 14px;
    color: #888;
    /* border: solid 1px yellow; */
}

.currentnav li {
    display: none;
}

.currentnav li.selected {
    display: inline-block;
}

.currentnav li:first-child {
    display: inline-block;
}

.currentnav li::before {
    display: inline-block;
    content: '⇨';
    margin: 0 10px 0 5px;
}

.currentnav li:first-child::before {
    display: inline-block;
    content: '';
    margin: 0;
}

.currentnav a {
    color: #888;
    font-weight: normal;
    text-decoration: none;
}

/*** Navigation 2 Classes ***/

nav.style2 {
    margin: auto;
    /* margin-top: 40px; */
    position: relative;
    width: clamp(320px, 50vw, 100%);
    text-align: center;
    max-width: 500px;
}

nav.style2 h2 {
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    /* background: tomato; */
    background: -webkit-linear-gradient(90deg, rgb(200, 200, 200) 0%, rgb(217, 217, 217) 100%);
    height: 40px;
    /* text-transform: uppercase; */
    margin-bottom: 0;
    color: inherit;
    font-weight: normal;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
    transition: all 0.4s;
}

nav.style2:hover h2 {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
    /* transistion: all 0.4s; */
}

#toggle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px;
}

nav.style2 h2::before {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    aspect-ratio: 1 / 1;
    background: currentColor;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    content: "";
    clip-path: polygon(50% 25%, 20% 80%, 80% 80%);
    transform: rotate(180deg) scale(0.75);
}

#toggle:not(:checked)~h2::before {
    transform: rotate(0deg) scale(0.75);
}

#toggle:focus~h2 {
    /* background: mediumorchid; */
    background: -webkit-linear-gradient(90deg, rgb(217, 217, 217) 0%, rgb(200, 200, 200) 100%);
    transition: background 0.45s;
}

#toggle:checked~ul {
    visibility: hidden;
    opacity: 0;
}

#toggle:not(:checked)~ul {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

nav.style2 ul {
    padding-left: 0;
    padding-top: 1rem;
    padding: 1rem 10px;
    /* background: #ece5da; */
    list-style: none;
    overflow: hidden;
    /* text-align: right; */
    /* text-align: center; */
    transition: all 0.4s ease-out;
    width: 100%;
    position: absolute;
    /* border-radius: 10px; */
    font-size: 20px;
}

nav.style2 ul li {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    line-height: 1.5;
    width: 100%;
    margin: 0.25rem 0;
    padding: 0.20rem 0;
    /* background: tomato; */
    /* background: -webkit-linear-gradient(90deg, rgb(200, 200, 200) 0%, rgb(217, 217, 217) 100%); */
    transition: background 3s;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
}

nav.style2 ul li.done {
    /* background: -webkit-linear-gradient(90deg, rgb(200, 200, 200) 0%, rgb(217, 217, 217) 100%); */
    background:
        url(images/checked.png) 20px center/20px 20px no-repeat,
        -webkit-linear-gradient(90deg, rgb(200, 200, 200) 0%, rgb(217, 217, 217) 100%);
}

/* nav.style2 ul li:hover,
nav.style2 ul li a:focus { */
/* background: mediumorchid; */
/* background: -webkit-linear-gradient(90deg, rgb(300, 300, 300) 0%, rgb(21200, 200, 200) 100%); */
/* transition: background 0.45s; */
/* color: red; */
/* border-radius: 20px; */
/* margin: 0.25rem 0; */
/* padding: 0.20rem 0; */
/* } */

nav.style2 ul a {
    display: block;
    color: inherit;
    /* text-transform: lowercase; */
    font-weight: normal;
    text-decoration: none;
}

.nav-bar {
    padding: 0 5px;
    border-radius: 5px;
}

.nav-bar.style1 {
    background: -webkit-linear-gradient(90deg, rgb(29, 156, 229) 0%, rgb(83, 180, 235) 100%);
}

.nav-bar .nav-bar-left {
    text-align: left;
    display: inline-block;
    text-align: left;
    /* border: solid 1px red; */
    width: 67%
}

.nav-bar .nav-bar-right {
    text-align: right;
    display: inline-block;
    text-align: right;
    /* border: solid 1px red; */
    width: 32%
}

.nav-bar.style1 .nav-bar-left li {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 10px 15px;
    position: relative;
}

.nav-bar.style1 .nav-bar-left li::before {
    display: inline-block;
    content: '\8b';
    /* width: 10px; */
    /* height: 10px; */
    /* margin: 0 0 0 10px; */
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: -5px;
    border-left: solid 1px white;
}

.nav-bar.style1 .nav-bar-left li:first-child::before {
    display: none;
    visibility: hidden;
}

.nav-bar.style1 .nav-bar-left li a {
    color: #fff;
    text-decoration: none;
}

.nav-bar.style1 .nav-bar-left li a:hover {
    color: #0a2d41;
}

.nav-bar.style1 .nav-bar-left li:first-child a:hover {
    color: #fff;
}

.nav-bar.style1 .nav-bar-right li {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 8px 5px;
    position: relative;
}

.nav-bar.style1 .nav-bar-right li a {
    color: #fff;
}
    
/*** Images Gallery Classes ***/

.gallery {
    margin: auto;
    width: 90%;
    /* border: solid 1px red; */
}

.gallery .gallery-item {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ccc;
    /* float: left; */
    width: 170px;
}

.gallery .gallery-item:hover {
    border: 1px solid #777;
}

.gallery .gallery-item img {
    width: 100%;
    height: auto;
}

.gallery .gallery-item .gallery-item-desc {
    padding: 10px;
    text-align: center;
    font-size: 12px;
}

/*** Contact Form Classes ***/

.contact-form {
    /* border: solid 1px red; */
    padding: 0 0 0 200px;
}

.contact-form-table {
    border-spacing: 0;
}

.contact-form-table td {
    vertical-align: top;
    padding: 5px 20px;
}

/*** Form Classes ***/

.content-badge-container {
    padding: 20px 0;
    margin: 5px 0;
    text-align: center;
    background: url(images/logo_miu.png) 2% center/55px 85% no-repeat,
                url(images/logo_miu.png) 98% center/55px 85% no-repeat,
                #3f5188;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}

.content-section-container {
    text-align: center;
}

.content-section {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin: auto;
    text-align: left;
    /* border: solid 1px red; */
}

.content-section a {
    color: #5c8ecb;
    text-shadow: none;
}

.content-section-left {
    margin-right: 10px;
}

.content-section-right {
    text-align: justify;
    font-size: 15px;
    text-shadow: none;
    margin-left: 10px;
    /* border: solid 1px red; */
}

.content-section-right.style2 {
    padding: 20px 40px 0;
}

.content-hint1 {
    font-size: 15px;
    color: #777;
    font-weight: 100;
}

.content-form-label {
    color: #555;
    font-size: 15px;
    margin: 15px 0 0 0;
}

.content-form-hint-label {
    color: #888;
    font-size: 13px;
    margin: 4px 0 0 0;
    text-shadow: none;
}

.content-form-input {
    font-size: 15px;
    font-weight: 100;
    background: #fff;
    border: solid 1px #bbb;
    border-radius: 5px;
    width: 100%;
    padding: 5px 15px;
    text-shadow: none;
    /* margin: 0 0 10px 0; */
}

.content-form-input::placeholder {
    font-size: 14px;
    font-weight: 100;
    color: #aaa;
    text-shadow: none;
}

.content-form-buttons {
    text-align: right;
    padding: 10px 15px;
    margin: 15px 0;
}

/*** Login Form Classes ***/

.login-settings {
    text-align: center;
    margin: 15px 0 0 0;
}

.login-settings-item {
    display: inline-block;
    width: 49%;
    /* border: solid 1px yellow; */
    margin: auto;
}

.login-settings-item-left {
    text-align: left;
    color: #888;
    font-weight: 100;
    font-size: 15px;
}

.login-settings-item-left input,
.login-settings-item-left label {
    cursor: pointer;
    margin: 0 5px 0 0;
}

.login-settings-item-right {
    text-align: right;
    font-weight: 100;
    font-size: 15px;
}

/****** Page Footer Classes ******/

.page-footer {
    width: 900px;
    height: 80px;
    border-radius: 12px;
    padding: 9px 25px;
    position: fixed;
    bottom: 20px;
    background: -webkit-linear-gradient(90deg, rgb(200, 200, 200) 0%, rgb(217, 217, 217) 100%);
}

.page-footer-program {
    font-size: 13px;
    text-align: left;
    color: #555;
    font-weight: normal;
}

.page-footer-validator {
    position: absolute;
    right: 20px;
    top: 25px;
}

.page-footer-validator a {
    text-decoration: none;
}